p Do you recognise what bird is singing? Choose a list of birds and see if you can guess who is making the sounds.

//hr
//
//div(class='checkbox')
//    label(for='lang_en')
//        input(type='checkbox', id='lang_en', ng-model='lang_en') 
//        span English
//
//div(class='checkbox')
//    label(for='lang_sc')
//        input(type='checkbox', id='lang_sc', ng-model='lang_sc') 
//        span Scientific

hr(class='wbs-hr')

a(href='/play/all', class='btn btn-primary btn-lg btn-block') Any bird
a(href='/play/owls', class='btn btn-primary btn-lg btn-block') Just Owls
a(href='/play/larks', class='btn btn-primary btn-lg btn-block') Larks and pipits

