div(class='row')
    div(class='col-sm-6 col-sm-offset-3 wts-plate--bg wts-plate__bottom')
        a(href='/play/all', class='btn btn-primary btn-block') Guess any
        a(href='/play/owls', class='btn btn-primary btn-block') Guess an owl
