dl
    dt Who made this site?
    dd  
        a(href='https://se.linkedin.com/in/jonasmyrenas') Jonas Myrenås
        
    dt Where does the sounds come from?
    dd All sounds come from #[a(href='http://www.xeno-canto.org') xeno-canto.org]
    
    dt They have an API?
    dd Yes, #[a(href='http://www.xeno-canto.org/article/153') read more in this article]
    
    dt Who took the pictures?
    dd I did, #[a(href='https://www.flickr.com/photos/primavera133/') flickr.com/primavera133]
    
    dt I have a suggestion for a new list
    dd Send a mail to: jonas [at] myrenas . se
    
    
a(href='/', class='btn btn-primary btn-block') Back