div(class='row', ng-show='initSound')
    div(class='col-sm-6 col-sm-offset-3')
        button(href='#', ng-show='!loadingSound', ng-click='getSound()', class='btn btn-primary btn-block') Get sound

div(class='row', ng-show="loadingSound")
    div(class='col-sm-6 col-sm-offset-3') loading...

div(class='row', ng-show="haveSound")
    div(class='col-sm-6 col-sm-offset-3')
        {{getRemaining()}}

div(class='row', ng-show='getRemaining()')
    div(class='col-sm-6 col-sm-offset-3')
        div(class='btn-group')
            button(ng-click='playSound()', class='btn btn-default btn-sm')
                span(class='glyphicon glyphicon-play') Play sound
            button(ng-click='pauseSound()', class='btn btn-default btn-sm')
                span(class='glyphicon glyphicon-pause') Pause sound
            button(ng-click='stopSound()', class='btn btn-default btn-sm')
                span(class='glyphicon glyphicon-stop') Stop sound

div(class='row', ng-show='getRemaining()')
    div(class='col-sm-6 col-sm-offset-3')
        button(ng-click='showDataFn()', class='btn btn-default btn-sm') Show data
        button(ng-click='getSound()', class='btn btn-default btn-sm') New sound

div(class='row', ng-show='showData')
    div(class='col-sm-6 col-sm-offset-3')
        p
            span English name:
            span {{recording.en}}
        p
            span Scientific name:
            span {{recording.gen}} {{recording.sp}} {{recording.spp}}
        p
            span Recorder:
            span {{recording.rec}}
        p
            span Location:
            span {{recording.cnt}} {{recording.loc}}
        p
            span Type:
            span {{recording.type}}
        p
            span Quality:
            span {{recording.q}}
        p
            span Time:
            span {{recording.date}} {{recording.time}}

