extends layout

block body
    header(ng-controller='AppCtrl', class='container')
        div(class='row')
            div(class='col-md-6 col-md-offset-3 wbs-plate--bg wbs-plate__top')
                a(href='/', class='wbs-link_text')
                    h1(class="wbs-h1") What bird sings?
                
                        

        //ul.menu
        //  li
        //    a(href='view1') view1
        //  li
        //    a(href='view2') view2

    div(class='container')
        div(class='row')
            div(ng-view, class='col-sm-6 col-sm-offset-3 wbs-plate--bg')

                
        div(class='row')
            div(class='col-sm-6 col-sm-offset-3 wbs-plate--bg wbs-plate__bottom')

                hr(class='wbs-hr')

                p All sounds come from #[a(href='http://xeno-canto.org') www.xeno-canto.org]
                p
                    a(href='/faq') FAQ - Frequently Asked Questions 

    script(src='vendors/lodash/lodash.js')
    script(src='vendors/angular/angular.js')
    script(src='vendors/angular-route/angular-route.js')
    script(src='vendors/angular-audio/app/angular.audio.js')
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')


    script(src='js/analytics.js')