doctype
html(ng-app="myApp")
    head
        meta(charset='utf8')
        base(href='/')
        title What bird sings?
        link(rel='stylesheet', href='/vendors/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/css/app.css')
    body
        block body