/* app css stylesheet */

html, body {
    height: 100%;
}

body {
    background: url(/images/common-starling.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wbs-plate--bg {
    background-color: rgba(250, 250, 250, .9);
}

.wbs-plate__top {
    margin-top: 40px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.wbs-plate__bottom {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.wbs-link_text:link,
.wbs-link_text:hover,
.wbs-link_text:active,
.wbs-link_text:visited {
    color: #333;
    text-decoration: none;
}

.wbs-h1 {
    font-size: 66px;
    text-align: center;
    margin: 20px 0 40px;
}

.wbs-hr {
    border-color: #337ab7;
}

.wbs-remaining {
    text-align: center;
    font-size: 24px;
}

.wbs-controls {
    text-align: center;  
    margin: 0 0 50px 0;
}

.wbs-button__text {
    padding-left: 10px;
}

.wbs-margin-bottom {
    margin-bottom: 10px;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}
